NX_GRAPH_API_KEY_MAINNET=
NX_ETHERSCAN_KEY=
NX_ARBISCAN_KEY=
NX_GNOSISSCAN_KEY=
NX_POLYGONSCAN_KEY=
NX_OPTIMISMSCAN_KEY=
NX_WALLET_CONNECT_ID=
# Rivet or Alchemy required
NX_RIVET_KEY=
NX_ETHEREUM_ALCHEMY_KEY=
# optional will use rate limited if not set
NX_OPTIMISM_ALCHEMY_KEY=
NX_ARBITRUM_ALCHEMY_KEY=
NX_POLYGONPOS_ALCHEMY_KEY=

# alternatly set custom rpc urls
NX_MAINNET_RPC=
NX_GOERLI_RPC=
NX_GNOSISCHAIN_RPC=
NX_OPTIMISM_RPC=
NX_POLYGONPOS_RPC=
NX_ARBITRUM_RPC=